 .chat-app-nav-bar {
     width: 100%;
     height: 7rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     z-index: 200;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     background-color: white;
 }
 
 .chat-app-nav-bar-right-side {
     height: 8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     width: auto;
     padding: 2.5rem 0;
     position: fixed;
     z-index: 200;
     top: 0;
     right: 0;
 }
 
 .alert-bell-icon {
     position: relative;
 }
 
 .alert-bell-icon::after {
     content: "5";
     position: absolute;
     top: -.75rem;
     right: -.75rem;
     width: 1.75rem;
     height: 1.75rem;
     color: white;
     border-radius: 50%;
     background-color: rgb(254, 65, 100);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .chat-app-nav-bar-left-side {
     height: 90%;
 }
 
 .chat-app-nav-bar-left-side__items__container {
     background-color: white;
     height: calc(71.5rem - 8rem);
     background-color: white;
     padding-top: 12rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: fixed;
     top: 7rem;
     left: 0rem;
     width: 7rem;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 
 .chat-app-nav-bar-left-side__item {
     width: 100%;
     height: auto;
     max-height: 7rem;
     padding: 1.5rem 0;
     margin: 1.5rem 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all .2s ease-in-out forwards;
 }
 
 .chat-app-nav-bar-left-side__item:hover {
     background-color: rgba(221, 132, 146, 0.3);
 }
 
 .chat-app-nav-bar-left-side__item__icon {
     width: 2.25rem;
     height: 2.25rem;
     z-index: 2000;
     cursor: pointer;
 }
 
 .logo {
     height: 7rem;
     width: 7rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(221, 132, 146);
     color: white;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .logo-img {
     width: 70%;
     height: 70%;
     fill: white;
     color: white;
 }
 
 .chat-app-nav-bar-right-side-item {
     height: 100%;
     margin: 0 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 8rem;
     height: 8rem;
     cursor: pointer;
 }
 
 .chat-app-nav-bar-right-side-item-icon img {
     width: 100%;
     height: 100%;
 }
 
 .chevron-icon {
     margin-left: .5rem;
     margin-top: -.5rem;
     width: 1rem !important;
     height: 1rem !important;
 }
 
 .user-info {
     width: 10rem;
     margin-right: 2rem;
 }
 
 .chat-app-nav-bar-right-side-item-icon img {
     width: 100%;
     height: 100%;
 }